* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: monospace;
  font-size: 1rem;
}
#hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.441)),
    url(/assets/img/bg-img4.jpg) no-repeat center/ contain;
  color: #fff;
}
.container {
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  /*A technique to center align anything*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.info h1 {
  font-size: 3rem;
  margin-bottom: 1em;
}
.info p {
  font-size: 1.3rem;
  max-width: 80%;
  margin: 0 auto;
}

.info .btn {
  text-decoration: none;
  display: inline-block;
  background-color: #770000;
  border-radius: 10px;
  padding: 1em 2em;
  color: #fff;
  margin-top: 2em;
  font-size: 1.2rem;

  &:hover {
    background: #7e4300;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 0.8rem;
  }
  .info p {
    font-weight: 700;
  }
}
